<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>

    {{> header}}

    <div style='background-color:gold'>

        {{> menu}}

        <div class="Content">
            {{{body}}}
            <div style='clear:both'></div>
        </div>

    </div>
                            
    {{> footer}}

</body>

</html>
