div
{
  text-align: justify;
}

.Menu
{
  width: 185px;
  float: left;
}

.Content
{
  margin-left: 200px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: white;
  padding-left: 20px;
}
