<div style="text-transform: uppercase; text-align: center; padding: 20px; background-color: skyblue">привет {{{hello}}}!</div>

<div style='background-color:gold'>

<div class='Menu'>
  <p style="font-size: large; font-weight: bold; padding-left: 20px">Виды спорта:</p>
  <ol style="list-style-type: square">
    <li><a href="biathlon.html">биатлон</a></li>
    <li><a href="football.html">футбол</a></li>
  </ol>
</div>

<div class="Content">
  <p style="font-size: 20px; font-weight: bold; text-align: center; text-transform: uppercase">Биатлон</p>
  <p>Биатлон &mdash; зимний олимпийский вид спорта, сочетающий лыжные гонки со стрельбой из винтовки. C 1993 года официальные международные соревнования по биатлону, включая Кубок мира и чемпионаты мира, проходят под эгидой Международного союза биатлонистов.</p>
  <div style='clear:both'></div>
</div>

<div style='clear: both'></div>

</div>
                        
<div style="background-color: skyblue;  padding: 20px; text-transform: uppercase; text-align: center">главное не победа, а участие!</div>
