<div style="text-transform: uppercase; text-align: center; padding: 20px; background-color: skyblue">привет {{{hello}}}!</div>

<div style='background-color:gold'>

<div class='Menu'>
  <p style="font-size: large; font-weight: bold; padding-left: 20px">Виды спорта:</p>
  <ol style="list-style-type: square">
    {{> aaa}}
    <li><a href="biathlon.html">биатлон</a></li>
    <li><a href="football.html">футбол</a></li>
  </ol>
</div>

<div class="Content">
  <p>Здесь вы можете почитать про разные виды спорта! Удачи!</p>
  <div style='clear:both'></div>
</div>

<div style='clear: both'></div>

</div>
                        
<div style="background-color: skyblue;  padding: 20px; text-transform: uppercase; text-align: center">главное не победа, а участие!</div>
